
  <nav class="navbar navbar-expand-md navbar navbar-dark bg-dark sticky-top" id="banner">

    <div class="container">

    <a routerLink="/" class="btn btn-dark">Hotel</a>

    <button class="navbar-toggler" type="button" data-toggle="collapse" data-target="#menu" aria-controls="navbarNavDropdown" aria-expanded="false" aria-label="Toggle navigation">
      <span class="navbar-toggler-icon"></span>
    </button>


    <div class="collapse navbar-collapse" id="menu">
      <ul class="navbar-nav ml-auto">
        <li class="nav-item">
          <a routerLink="/price-list" class="btn btn-dark">Cennik</a>
        </li>
        <li class="nav-item">
          <a routerLink="/gallery" class="btn btn-dark">Galeria</a>
        </li>
        <li class="nav-item">
          <a routerLink="/contact" class="btn btn-dark">Kontakt</a>
        </li>
        <li class="nav-item">
          <button
        class="btn btn-primary btn-margin"
        *ngIf="!auth.isAuthenticated()"
        (click)="auth.login()">
          Log In
      </button>
        </li>
         <li class="nav-item">
          <button
          class="btn btn-primary btn-margin"
          *ngIf="auth.isAuthenticated()"
          (click)="auth.logout()">
            Log Out
        </button>
        </li>

       <li class="nav-item">
          <a routerLink="/profile" class="btn btn-dark">Profil</a>
        </li>

      </ul>
    </div>



    </div>

  </nav>


 <!-- s

<!--
      <ul class="">
        <a href="#!">  <li class=" active list-group-item">   <span><i class="fas fa-home"></i> Home </span>  </li> </a>
        <a href="#!">  <li class=" list-group-item">   <span><i class="fas fa-search"></i> Wyszukaj</span>  </li> </a>
          <a href="#!">  <li class=" list-group-item">   <span><i class="fas fa-sign-in-alt"></i> Logowanie</span>  </li> </a>


            <a href="#Profil" class="list-group-item dropdown-toggle" data-toggle="collapse" aria-expanded="false" ><i class="fas fa-user"></i>Uzytwkonik </a>
            <ul class="collapse list-unstyled" id="Profil">
                    <li class="list-group-item">
                      <a href="#">Twoj profil 1</a>
                    </li >
                    <li class="list-group-item">
                      <a href="#">Historia 1</a>
                      </li >
                      <li class="list-group-item">
                        <a href="#">Cos 1</a>
                    </li>
                  </ul>





          <a href="#!">  <li class=" list-group-item">   <span><i class="fas fa-phone"></i> Kontakt </span> </li>  </a>
          <a href="#!">  <li class=" list-group-item">   <span><i class="fas fa-images"></i> Galeria </span>  </li> </a>
          <a href="#!">  <li class=" list-group-item">   <span><i class="fas fa-list-alt"></i> Lista Pokoi </span>  </li> </a>
        </ul> -->




