<footer id="footer" class="page-footer font-small mdb-color pt-4">
  <div class="container text-center text-md-left">
    <div class="row text-center text-md-left mt-3 pb-3">
      <div class="col-md-3 col-lg-3 col-xl-3 mx-auto mt-3">
        <h6 class="text-uppercase mb-4 font-weight-bold">NEWSLETTER</h6>
        <p>Zyskaj 5% zniżki przy rezerwacji! <br>- dołącz do Newslettera</p>
        <input type="text" class="form-control form-control-sm" placeholder="Email" aria-label="Email" aria-describedby="basic-addon2">
            <div class="input-group-append">
              <button type="button">Wyslij</button>
            </div>
      </div>
      <hr class="w-100 clearfix d-md-none">
      <div class="col-md-4 col-lg-3 col-xl-3 mx-auto mt-3">
        <h6 class="text-uppercase mb-4 font-weight-bold">KONTAKT</h6>
        <div>
        <p>
          <i class="fas fa-home"></i>
            ul. Lawendowa 60
            <br>
            80-769 Gdańsk, Polska
        </p>
        </div>
        <div>
        <p>
            <i class="fas fa-envelope"></i>
            recepcja@hoteltransylwania.pl
        </p>
        </div>
        <div>
        <p>
          <i class="fas fa-phone"></i>
            +48 58 300 30 30
        </p>
        </div>
      </div>
    </div>
    <hr>
    <div class="row d-flex align-items-center">
      <div class="col-md-7 col-lg-8">
          <div class="footer-copyright text-center py-3">Hotel Transylwania 2018 © All right reserved.
          </div>
      </div>
      <div class="col-md-5 col-lg-4 ml-lg-0">
        <div class="text-center text-md-right">
          <ul class="list-unstyled list-inline">
            <li class="list-inline-item">
              <a mdbBtn floating="true" size="sm" class="rgba-white-slight mx-1" mdbWavesEffect>
                <div><i class="fab fa-facebook-f fa-fw blue-text"></i>
                  <a href="https://www.facebook.com/">
                  <strong>Facebook</strong>
                </a>
              </div>
              </a>
            </li>
            <li class="list-inline-item">
              <a mdbBtn floating="true" size="sm" class="rgba-white-slight mx-1" mdbWavesEffect>
                <div><i class="fab fa-twitter fa-fw blue-text"></i>
                  <a href="https://twitter.com">
                  <strong>Twitter</strong>
                </a>
              </div>
              </a>
            </li>
            <li class="list-inline-item">
              <a mdbBtn floating="true" size="sm" class="rgba-white-slight mx-1" mdbWavesEffect>
                <div><i class="fab fa-instagram fa-fw pink-text"></i>
                  <a href="https://www.instagram.com">
                  <strong>Instagram</strong>
                </a>
              </div>
              </a>
            </li>
          </ul>
        </div>
      </div>
    </div>
  </div>
</footer>
