

    <header>
            <div class="container">
                <div id="branding">
                       <h1><i class="fab fa-fort-awesome-alt"></i><span class="hightlight">Hotel</span> Transylwania</h1>
                </div>
                <nav>
                    <ul>
                        <li><a href=""><span class="hightlight">Hotel</span></a></li>
                        <li><a href="">Cennik</a></li>
                        <li><a href="">Spa</a></li>
                        <li><a href="">Restauracja</a></li>
                        <li><a href="">Biznes</a></li>
                        <li><a href="">Galeria</a></li>
                        <li><a href="">Kontakt</a></li>
                        <li><a href="">Rejestracja</a></li>
                        <li><a href="">Zaloguj</a></li>



                    </ul>
                </nav>
            </div>
        </header>



