<body>
  <header>
    <div class="container">
      <div id="branding">
        <h1><i class="fab fa-fort-awesome-alt"></i><span class="hightlight">Hotel</span> Transylwania</h1>
      </div>
      <nav>
        <ul>
          <li><a href="index.html"><span class="hightlight">Hotel</span></a></li>
          <li><a href="price_list.html">Cennik</a></li>
          <li><a href="spa.html">Spa</a></li>
          <li><a href="restaurant.html">Restauracja</a></li>
          <li><a href="business.html">Biznes</a></li>
          <li><a href="attractions.html">Atrakcje</a></li>
          <li><a href="gallery.html">Galeria</a></li>
          <li><a href="kontakt.html">Kontakt</a></li>
          <li><a href="kontakt.html">Zaloguj</a></li>
          <li><a href="kontakt.html">Zarejestruj</a></li>
        </ul>
      </nav>
    </div>
  </header>

</body>
