<section id="boxes">
    <div class="container">
      <p><i class="fab fa-fort-awesome-alt"></i></p>
      <div class="box">

        <span class="hightlight">
          <h3>NEWSLETTER</h3>
        </span>
        <p><span class="hightlight">Zyskaj 5% zniżki przy rezerwacji! </span>- dołącz do Newslettera</p>
        <form>
          <input type="email" placeholder="Wpisz adres e-mail">
          <button type="submit" class="envelope"><i class="fas fa-envelope"></i></button>

        </form>
      </div>
      <div class="box">

        <span class="hightlight">
          <h3>Hotel Transylwania</h3>
        </span>
        <p>ul. Lawendowa 60 <br>
          80-769 Gdańsk, Polska<br>
          +48 58 300 30 30<br><br>
          <span class="hightlight">recepcja@hoteltransylwania.pl</span></p>
      </div>
      <div class="box">

        <span class="hightlight">
          <h3>Poleć znajomym</h3><span>
            <p><i class="fab fa-facebook"></i> <i class="fab fa-instagram"></i></p>
          </span>
        </span>
      </div>
    </div>
  </section>

  <footer>


      Hotel Transylwania 2018 &copy; All right reserved.

</footer>
