
.container{
  width: 80%;
  margin: auto;
  overflow: hidden;
}

#showcase {
  background: url("hotel1.jpg") no-repeat;
  text-align: center;
  position: relative;
  background-size: cover;
  height: 80vh;
  color: white;
  margin-top: 0px;
  font-size: 35px;
  margin-bottom: 0px;
}



.button1 {
  height: 37px;
  background: rgb(172, 153, 48);
  border: 0;
  outline: 0;
  padding: 0 20px;
  color: white;
  border-radius: 2em;
}

#p {
  text-align: center;
}

