<section id="showcase">
  <div class="container">
    <h1>O Nas</h1>
    <p>Idealne miejsce na wypoczynek, podróż służbową i relax w SPA</p>
    <h5>REZERWACJA ONLINE</h5>
    <label for="tripDate">Przyjazd</label>
    <input type="date" name="tripDate" id="tripDate" tabindex="50">
    <label for="tripDate">Wyjazd</label>
    <input type="date" name="tripDate" id="tripDate" tabindex="50">
    <button type="button" class="button1">Zarezerwuj</button>
  </div>
</section>
<section id="boxes">
  <div class="container">
    <p><i class="fab fa-fort-awesome-alt"></i></p>
    <div class="box">

      <span class="hightlight">
        <h3>NEWSLETTER</h3>
      </span>
      <p><span class="hightlight">Zyskaj 5% zniżki przy rezerwacji! </span>- dołącz do Newslettera</p>
      <form>
        <input type="email" placeholder="Wpisz adres e-mail">
        <button type="submit" class="envelope"><i class="fas fa-envelope"></i></button>

      </form>
    </div>
    <div class="box">

      <span class="hightlight">
        <h3>Hotel Transylwania</h3>
      </span>
      <p>ul. Lawendowa 60 <br>
        80-769 Gdańsk, Polska<br>
        +48 58 300 30 30<br><br>
        <span class="hightlight">recepcja@hoteltransylwania.pl</span></p>
    </div>
    <div class="box">

      <span class="hightlight">
        <h3>Poleć znajomym</h3><span>
          <p><i class="fab fa-facebook"></i> <i class="fab fa-instagram"></i></p>
        </span>
      </span>
    </div>
  </div>
</section>
