<div class="row">
    <div id="room" class="col-md-4"  *ngFor="let room of listOfRooms">

      <img [src]="image" class="img-fluid" height=auto; width='350px;'>

          <div class="centered" >
            <p routerLink="/room/{{room.roomId}}" lass="text-center">
              Id:{{room.roomId}}
            </p>
            <p lass="text-center">
              Cena:{{room.pricePerDay}}
            </p>
            <p lass="text-center">
              Numer:{{room.rating}}
            </p>
          </div>


        </div>
  </div>



